parameters:
  paths:
    - /source/src
  level: 8
  excludePaths:
    - source/vendor
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false

autoload_files:
  - phar:///pocketmine/PocketMine-MP.phar/vendor/autoload.php

includes:
  - phar:///source/vendor/Commando.phar/src/
